<app-header></app-header>

<div class="person-container">
    <form action="">
        <p-table>
            <ng-template pTemplate="header">
                <tr>
                    <th>NOME</th>
                    <th>E-MAIL</th>
                    <th>WHATSAPP</th>
                    <th>AÇÕES</th>
                </tr>
                <tr *ngFor="let person of personList">
                    <th>{{person.name}}</th>
                    <th>{{person.email}}</th>
                    <th>{{person.whatsapp}}</th>
                    <th>
                        <a [routerLink]="['/list-person']">
                            <i class="pi pi-times icons"
                            (click)="deletePerson(person.id)"></i>
                        </a>
                        {{''}}
                        <a [routerLink]="['']">
                            <i class="pi pi-pencil icons"></i>
                        </a>
                    </th>
                </tr>
            </ng-template>
        </p-table>
        <br>
        <div class="row">
            <p-button [routerLink]="['']" label="Pagina Home"></p-button>
            {{''}}
            <p-button label="Voltar" [routerLink]="['/person']"></p-button>
        </div>
    </form>
</div>

<app-footer></app-footer>